<html layout:decorator="layout">
	<head>
	    <title>Addresses list</title>
	</head>
	<div layout:fragment="content">
	    <h1>Addresses list</h1>
	
	    <a href="/address-form">Add address</a>
	
	    <table border="1px">
	        <thead>
	            <tr>
		            <th>Street</th>
		            <th>ZIP</th>
		            <th>City</th>
		            <th>Country</th>
		            <th>Created at</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="address : ${addresses}">
	                <td th:text="${address.street}">test</td>
	                <td th:text="${address.zip}"></td>
	                <td th:text="${address.city}"></td>
	                <td th:text="${address.country}"></td>
	                <td th:text="${#calendars.format(address.createdAt,'yyyy-MM-dd HH:mm:ss')}"></td>
	            </tr>
	            <tr th:if="${addresses.isEmpty()}">
	               <td colspan="5">No addresses yet, please <a href="/address-form">add address</a> first</td>
                </tr>
	        </tbody>
	    </table>
	</div>
</html>